@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");
html,
body {
    margin: 0;
    padding: 0;
}
body > div {
    background-color: #e1e1e1;
    font-family: "Noto Sans JP", sans-serif;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
header {
    padding: 10px 20px;
    background-color: red;
    display: flex;
    justify-content: center;
    gap: 10px;
    a {
        color: #fff;
        text-decoration: none;
    }
}
footer {
    background: #999;
    font-weight: bold;
    text-align: center;
    padding: 20px 15px;
}
.inner-content {
    margin: 15px;
    background-color: #fff;
    padding: 15px;
}
